black==25.1.0
Django==5.2.2
django-ckeditor==6.7.2
django-environ==0.12.0
django-filter==25.1
django-solo==2.4.0
django-unfold==0.59.0
factory_boy==3.3.3
gunicorn==23.0.0
pillow==11.2.1
sorl-thumbnail==12.11.0
